flax==0.6.0
jax==0.4.30
numpy>=1.22,<1.25
isort==5.9.3
jinja2>=2.11
pycocotools>=2.0.4
pylint==2.11.0
scipy
toml==0.10.2
tqdm==4.64.0
wget==3.2
hydra-core
optax==0.1.4
tifffile
pandas
gpustat 
torch 
torchmetrics==0.6.2
torchvision 
torchaudio 
numba
Pillow
pytorch-lightning
librosa
datasets
tensorflow
tensorflow-datasets
mat73
transformers
wandb
einops
yapf 
typing-extensions 
fsspec 
flatten-dict
jaxlib==0.4.30
protobuf>=3.20,<4.0
tfds-nightly==4.9.3.dev202311230044